<div class="header">
  <h1 class="app-title">Социальная сеть</h1>
  <div class="header-buttons">
    <button routerLink="/profile" class="header-button">Назад к профилю</button>
    <button routerLink="/news" class="header-button">Новости</button>
    <button *ngIf="userService.getUser()?.role === 'admin'" routerLink="/admin" class="header-button">Админнистрирование</button>
    <button (click)="logout()" class="header-button">Выйти</button>
  </div>
</div>

<div class="news-container">
  <h2>Новости</h2>
  <ul class="news-list">
    <li *ngFor="let n of news" class="news-item">
      <div class="n-container">
        <p>Имя: {{ getUserName(n.user_id) }}</p>
        <p>Загловок: {{ n.title }}</p>
        <p>Новость: {{ n.message }}</p>
        <p>Дата публикации: {{ n.timestamp }}</p>
      </div>
    </li>
  </ul>
</div>
